<link href="https://fonts.googleapis.com/css?family=Miriam+Libre:700" rel="stylesheet">
<%= link_to '<button type="button" style="font-family: Miriam Libre, sans-serif; font-size: 20px;">New Finance Sheet</button>'.html_safe, home_form_path %>

<h1>Welcome to your Financial Planning Page</h1>
<h4>This is currently the National Median Income per Household</h4>
<iframe src="//fred.stlouisfed.org/graph/graph-landing.php?g=6742&width=968&height=450" scrolling="no" frameborder="0" style="overflow:hidden; width:968px; height:500px;" allowTransparency="true"></iframe>

<% @datainputs.each do |data_input| %>
  <div class="money_form">
  <h3>Date</h3>
  <div><%= data_input.date %></div>
  <h3>Income</h3>
  <div><%= data_input.income %></div>
  <h3>Rent</h3>
  <div><%= data_input.rent %></div>
  <h3>Loans</h3>
  <div><%= data_input.loans %></div>
  <h3>Utilities</h3>
  <div><%= data_input.utilities %></div>
  <h3>Entertainment</h3>
  <div><%= data_input.entertainment %></div>
  <h3>Food</h3>
  <div><%= data_input.food %></div>
  <h3>Misc</h3>
  <div><%= data_input.misc %></div>
  <h3>Balance</h3>
  <div><%= data_input.balance %></div>
  <h3>Comment</h3>
  <div><%= data_input.comment %></div><br><br><br>
  <%= button_to('Delete This Sheet', '/home/' + data_input.id.to_s, method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>
  </div>
<%end %>
